<%= render "lists/banner",
  title: @list.name,
  subtitle: "Les films de ta liste #{@list.name}",
  image_url: asset_path("cinema.jpg"),
  badge_text: pluralize(@list.bookmarks.count, "movie") %>

<div class="container my-4">

  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <%= render "lists/movie_card", bookmark: bookmark %>
    <% end %>
  </div>

  <hr class="my-4">

  <%= simple_form_for([@list, @bookmark]) do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment, placeholder: "Give your comment" %>
    <%= f.submit "Add to list", class: "btn btn-success" %>
  <% end %>

  <%= link_to "Back", lists_path, class: "btn btn-link mt-3" %>
</div>
